# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


Good Morning everyone – I warmly welcome you all on the occasion of our company annual Day and for having successfully completing 14 years.


    						Or 

Warm greetings to all the Ladies and gentlemen as well as distinguished guests present over here! I would like to welcome all of you on this very special occasion of annual Day 2018.

Anniversaries are the opportunities to recollect our year gone memories and to cherish them again.We Solvians  are proud to celebrate this day for yet another year. It is a celebration of our employees and their achievements in the year going by.

These 14 years can be defined as a kaleidoscope of happy and best memories of the organisation, new friendship and relationships. we have found new friends in terms of employees who have worked day and night to make this day possible for us. Over the last fourteen years, this business has undergone massive changes like restructuring, globalization etc but our organization has become stronger and efficient than ever before.we have had our employees who were, are and will always be our intellectual assets that have always stood by our side.we are lucky to have such a fantastic team of dedicated and loyal employees.


it’s time to begin the program.let's celebrate together, These moments of fun, frolic, laughter with the employess and chief and make it memorable.

					Thank you!
